.new-message-container {
  border-radius: 15px;
  border: 1px solid #b9b9b9;
  width: calc(100vw - 415px);
  overflow: hidden;
  background-color: #fff;
  /* height: 760px; */
}
.new-message-container .back-rightMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.back-rightMenu .back-name-label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.back-name-label-container .icon-back-button {
  background: url(../assets/back-button.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #fff;
  transition: ease border 0.3s;
}
.back-name-label-container .icon-back-button:hover {
  background: url(../assets/back-button.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
}

.back-name-label-container .name {
  font-weight: 700;
  font-size: 20px;
}
.back-name-label-container .label {
  width: 60px;
  padding: 3px 0px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.back-name-label-container .Primary {
  background: rgb(195, 234, 235);
  color: #00b69b;
}

.back-name-label-container .Work {
  background: rgb(245, 229, 221);
  color: #fd9a56;
}

.back-name-label-container .Social {
  background: #dee8ff;
  color: #5a8cff;
}

.back-name-label-container .Friends {
  background: #f6ddff;
  color: #d456fd;
}
.back-rightMenu .rightMenu-icons {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}
.back-rightMenu .rightMenu-icons:hover {
  border: 1px solid #ff0000;
}
.back-rightMenu .rightMenu-icons .item {
  padding: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  transition: ease background-color 0.3s;
}
.back-rightMenu .rightMenu-icons .item:hover {
  background-color: #ff5d17;
  border: 1px solid #ff6b6b;
}

.back-name-label-container .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-name-label-container .icon-star-clicked {
  background: url(../assets/star-clicked.svg) no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
}
.rightMenu-icons .item .icon-delete {
  background: url(../assets/delete.svg) no-repeat;
  width: 12.5px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}
.master-container {
  height: calc(100vh - 255px);
  overflow-y: auto;
}
/* Scrollbar */
.master-container::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Track */
.master-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

/* Handle */
.master-container::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
.master-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
.new-message-container .text-message-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.text-message-container .image-text-container {
  display: flex;
  gap: 17px;
  align-items: flex-end;
}
.text-message-container .image-text-container .img {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d8d8d8;
}
.text-message-container .image-text-container .sender-text-container {
  width: 592px;
  height: auto;
  border-radius: 16px 16px 16px 0px;
  background-color: #f5f5f5;
}
.image-text-container .sender-text-container .text {
  font-size: 14px;
  padding: 10px;
}
.sender-text-container .time-more-container {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}
.time-more-container .time {
  font-size: 12px;
  color: #757575;
}
.time-more-container .more-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}
.time-more-container .more-container .more {
  border-radius: 50%;
  min-height: 3px;
  min-width: 3px;
  background-color: #757575;
  margin: 0px 5px;
}
.text-message-container .receiver-alignment-div {
  display: flex;
  justify-content: end;
}
.text-message-container .receiver-text-container {
  width: 592px;
  height: auto;
  border-radius: 16px 16px 0px 16px;
  background-color: #4880ff;
}
.receiver-text-container .text {
  font-size: 14px;
  padding: 10px;
  color: #fff;
  word-wrap: break-word;
}
.receiver-text-container .time-more-container {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  color: #fff;
}
.receiver-text-container .time-more-container .time {
  font-size: 12px;
  color: #fff;
}
.receiver-text-container .time-more-container .more {
  margin: 0px 5px;
  background-color: #fff;
  cursor: pointer;
}
.new-message-container .send-message-main-container {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  border-top: 1px solid #e0e0e0;
}
.send-message-main-container .icon-audio {
  background: url(../assets/audio-icon.svg) no-repeat;
  min-width: 13px;
  height: 21px;
  display: inline-block;
  cursor: pointer;
}
.send-message-main-container .input-message {
  /* width: 800px; */
  flex-grow: 1;
  padding: 0px 10px;
  outline: none;
  border: none;
  font-size: 16px;
}
.send-message-main-container .icon-clip {
  background: url(../assets/clip-icon.svg) no-repeat;
  min-width: 16px;
  height: 21px;
  display: inline-block;
  cursor: pointer;
}
.send-message-main-container .icon-add-image {
  background: url(../assets/add-image-icon.svg) no-repeat;
  min-width: 14px;
  height: 21px;
  display: inline-block;
  cursor: pointer;
}
.send-message-main-container .send-button-container {
  min-width: 96px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 18px;
  background-color: #4880ff;
  cursor: pointer;
  gap: 8px;
  outline: none;
  border: 1px solid #4880ff;
  color: #fff;
  border-radius: 10px;
}
.send-message-main-container .send-button-container:hover {
  background-color: #004cff;
}
.send-message-main-container .send-button-container .send-button-text {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.send-message-main-container .send-button-container .icon-send {
  background: url(../assets/message-send.svg) no-repeat;
  width: 14px;
  height: 14px;
  cursor: pointer;
  display: inline-block;
}
.icon-star {
  background: url(../assets/star.svg) no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
}

.moreOptions-dots-container {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: flex-end;
  padding: 4.5px 10px;
  gap: 4px;
  color: #fff;
  box-sizing: border-box;
}
.moreOptions-dots-container .edit {
  cursor: pointer;
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color: #20b9a2f2;
  border: 1px solid #20b9a2;
}
.moreOptions-dots-container .edit:hover {
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #27d2b8b2;
  border: 1px solid #ffffff6b;
}
.moreOptions-dots-container .delete {
  cursor: pointer;
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color: #20b9a2f2;
  border: 1px solid #20b9a2;
}
.moreOptions-dots-container .delete:hover {
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #27d2b8b2;
  border: 1px solid #ffffff6b;
}
.moreOptions-dots-container .close-btn {
  cursor: pointer;
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color: #b94e20;
  border: 1px solid #b92020;
}
.moreOptions-dots-container .close-btn:hover {
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #da561e;
  border: 1px solid #ffffff00;
}
.edited {
  font-size: 11px;
  color: #f5f5f5a0;
}
